@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

/* Custom animation for scan effect */
.animate-scan {
  animation: scan 2s linear infinite;
}

@keyframes scan {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Custom color variables */
:root {
  --blue: 221, 70%, 55%;
  --blue-hover: 221, 70%, 50%;
}

.bg-blue {
  background-color: hsl(var(--blue));
}

.hover\:bg-blue\/90:hover {
  background-color: hsla(var(--blue), 0.9);
}

.text-blue {
  color: hsl(var(--blue));
}

.border-blue {
  border-color: hsl(var(--blue));
}

.focus\:ring-blue:focus {
  --tw-ring-color: hsl(var(--blue));
}

